<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
   <parameter name="URL" value="clickacademy.com"/>
    <classes>
      <class name="practice.Dammy"/>
    </classes>
    </test>
    <test name="Test1">
      <classes>
      	<class name="practice.Dammy1"/>
      </classes>
    </test> 
</suite> 
